language: scala
jdk:
  - oraclejdk8
scala:
  - 2.11.11
cache:
  directories:
      - $HOME/.ivy2

install:
- docker build -t $BUILDING .

after_success:
- docker login --username="$DOCKER_USERNAME" --password="$DOCKER_PASSWORD"
deploy:
  - provider: script
    script: docker tag $BUILDING $DOCKER_IMAGE:$TRAVIS_TAG; docker push $DOCKER_IMAGE:$TRAVIS_TAG
    on:
      tags: true
  - provider: script
    script: docker tag $BUILDING $DOCKER_IMAGE:$TRAVIS_BRANCH; docker push $DOCKER_IMAGE:$TRAVIS_BRANCH
    on:
      all_branches: true
env:
  global:
  - DOCKER_IMAGE=bio-guoda/effechecka
  - BUILDING=$DOCKER_IMAGE:$TRAVIS_COMMIT